<!DOCTYPE html>
<html>
	<head>
		<title>My First $resource use</title>
		<style>
[ng-cloak] {
	display: none !important;
}
		</style>
	</head>

	<body ng-app="myApp" ng-controller="MyController as my_ctrl">
		<h1>My First $resource use</h1>
		<button ng-click="startAjax()">Appeler le contenu AJAX</button><br/>
		<button ng-click="getPromise()">logguer la promise</button><br/>
		<span ng-cloak>{{data.content}}</span>

		<script src="../../node_modules/angular/angular.min.js"></script>
		<script src="../../node_modules/angular-resource/angular-resource.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>