.jlg-checkbox, [jlg-checkbox] {
	display: none;
}

.jlg-checkbox-div {
	border: 1px solid black;
	display: block;
	height: 32px;
	width: 48px;
	position: relative;
	border-radius: 8px;
	background-color: #337ab7;
	border-color: #337ab7;
}

.jlg-checkbox-div > span {
	border: 1px solid black;
	display: block;
	height: 26px;
	width: 32px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 8px;
	font-size: 20px;
	text-align: center;
	background-color: white;
	border-color: #337ab7;


	-moz-box-shadow: 0px 2px 5px 0px #656565;
	-webkit-box-shadow: 0px 2px 5px 0px #656565;
	-o-box-shadow: 0px 2px 5px 0px #656565;
	box-shadow: 0px 2px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}
