<!DOCTYPE html>
<html>

<head>
	<title>My First Provider Recipe</title>
	<link rel="stylesheet" href="../15_value/style.css">
</head>

<body ng-app="myApp" ng-controller="MyController as $ctrl">
	<h1>My First Provider Recipe</h1>
	<panel>
		<label for="">Enter a login : <br>
		<input type="text" ng-model="$ctrl.login" /></label>
		<label for="">Enter a password : <br>
		<input type="password" ng-model="$ctrl.password" /></label>

		<label>Algo : <br>
			<select ng-init="$ctrl.hash.name = 'MD5'"
				ng-model="$ctrl.hash.name" 
				ng-options="pair.value as pair.name for pair in $ctrl.hash.algos"></select>
		</label>
		<br>
		<code>
			PasswordHash = {{$ctrl.passwordHash}}
		</code>
	</panel>

	<script src="../../node_modules/jshashes/hashes.min.js"></script>
	<script src="../../node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>

</html>
