jlg-menu, [jlg-menu], [data-jlg-menu], [x-jlg-menu], .jlg-menu {
	display: inline-block;
	width: 200px;
	height: 100px;
	border: 1px solid black;
	overflow: hidden;
	position: relative;
}

.active {
	background-color: blue;
}
