jlg-menu, [jlg-menu], [data-jlg-menu], [x-jlg-menu], .jlg-menu {
	display: inline-block;
	position: relative;
	background-color: #eee;
	z-index: 2000;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.desktop jlg-menu, [jlg-menu], [data-jlg-menu], [x-jlg-menu], .jlg-menu {
	width: 400px;
	height: 1000px;
}

._menu {
	width: 100%;
	height: 100%;
	padding: 15px;
}



.active {
	background-color: blue;
}

.jlg-back {
	cursor: pointer;
}

.desktop .jlg-back:hover {
	color: black;
}

.navbar-brand img {
	width: 150px;
}
