jlg-menu, [jlg-menu], [data-jlg-menu], [x-jlg-menu], .jlg-menu {
	display: inline-block;
	width: 400px;
	height: 500px;
	border: 1px solid black;
	overflow: hidden;
	position: relative;
}

._menu {
	width: 400px;
	height: 500px;
}

.active {
	background-color: blue;
}

.jlg-back {
	cursor: pointer;
}

.desktop .jlg-back:hover {
	color: black;
}
