<!DOCTYPE html>
<html>
	<head>
		<title>My First Controller</title>
	</head>

	<body ng-app="myApp" ng-init="count = { value: 3 }">
		<div>
			App Count: {{count}}
		</div>
		<div ng-controller="MyFirstController as my_ctrl">
			<button ng-click="my_ctrl.decrementCount()">Decrement</button>
			<div>
				First Count: {{count}}
			</div>
		</div>
		<div ng-controller="MySecondController as my_ctrl">
			<button ng-click="my_ctrl.incrementCount()">Increment</button>
			<div>
				Second Count: {{count}}
			</div>
		</div>

		<script src="../../node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>