<!DOCTYPE html>
<html>

<head>
	<title>My First Controller</title>
	<link rel="stylesheet" href="../../node_modules/angular/angular-csp.css" />
	<link rel="stylesheet" href="style.css" />
</head>

<body ng-csp>
	<div ng-cloak ng-app="myApp" ng-init="count = { value: 3 }">
		<h1>Scope tree</h1>
		<div>
			App Count: {{count}}
		</div>
		<div ng-controller="MyFirstController as $ctrl">
			<button ng-click="$ctrl.decrementCount()">Decrement</button>
			<div>
				First Count: {{count}}
			</div>
		</div>
		<div ng-controller="MySecondController as $ctrl">
			<button ng-click="$ctrl.incrementCount()">Increment</button>
			<div>
				Second Count: {{count}}
			</div>
		</div>
	</div>
	<h2>Notes</h2>
	<ul>
		<li>ng-csp is outside the ng-app, but it still works. Why ?</li>
		<li>Update the code to have count as a simple integer (for instance: count = 3)</li>
		<li>How many watchers ?</li>
	</ul>
	<script src="../../node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>

</html>
