<!DOCTYPE html>
<html>

<head>
	<title>My First Injector</title>
	<link rel="stylesheet" href="style.css">
</head>

<body ng-app="myApp" ng-controller="MyController as $ctrl">
	<h1>My First Injector</h1>
	<select ng-model="$ctrl.myService">
			<option value="blur">Blur</option>
			<option value="grayscale">Gray scale</option>
		</select>
	<button ng-click="$ctrl.increment()">Increment</button>
	<button ng-click="$ctrl.decrement()">Decrement</button>
	<span class="content" ng-style="$ctrl.style">
		Value of {{$ctrl.myService}}: {{$ctrl.getValue()}}
	</span>
	<script src="../../node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>

</html>
