<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<title>My First Controller</title>
	<link rel="stylesheet" href="../../node_modules/angular/angular-csp.css" />
	<link rel="stylesheet" href="style.css" />
</head>

<body ng-csp ng-cloak ng-controller="MyController as $ctrl">
	<h1>My first controller</h1>

	<button-group>
		<button ng-click="$ctrl.show()">Show</button>
		<button ng-click="$ctrl.hide()">Hide</button>
	</button-group>
	<p>Last name: {{$ctrl.person.lastname}}</p>
	<p>First name: {{$ctrl.person.firstname}}</p>
	<p>Age: {{$ctrl.person.age}}</p>
	<h2>Notes:</h2>
	<p>Ng-controller does 3 steps:
		<ul>
			<li>Create a child scope: <code>$scope = $parent.$new(false);</code> </li>
			<li>Instantiate a new controller of type MyController: <code>$scope.$ctrl = $controller('MyController');</code></li>
			<li>Compile all the DOM under ng-controller with the $scope: <code>$compile($element.contents())($scope);</code></li>
		</ul>
		</li>
	</p>
	<script src="../../node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>

</html>
