<!DOCTYPE html>
<html ng-app="myApp">

<head>
	<title>My First Controller</title>
	<link rel="stylesheet" href="../../node_modules/angular/angular-csp.css" />
	<link rel="stylesheet" href="style.css" />
</head>

<body ng-csp ng-cloak ng-controller="MyController as $ctrl">
	<h1>My first controller</h1>

	<button-group>
		<button ng-click="$ctrl.show()">Show</button>
		<button ng-click="$ctrl.hide()">Hide</button>
	</button-group>
	<p>Last name: {{$ctrl.person.lastname}}</p>
	<ph2>First name: {{$ctrl.person.firstname}}</p>
		<p>Age: {{$ctrl.person.age}}</p>
		<script src="../../node_modules/angular/angular.js"></script>
		<script type="text/javascript" src="app.js"></script>
</body>

</html>