@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: hsl(240, 100%, 20%);
}


html,
body {
	font-family: 'Lato', sans-serif;
}

h1 {
	display: block;
	width: 100%;
	background-color: hsl(240, 100%, 20%);
	text-align: center;
	color: white;
}

h2 {
	margin: 20px 0px;
}

panel {
	display: block;
	padding: 20px;
}

label {
	display: block;
	padding: 20px 0px 0px;
	font-size: 1.5em;
}

input,
select {
	margin: 15px 0px 0px;
	font-size: 1.2em;
}

code {
	display: block;
	width: 100%;
	margin: 20px 0px;
	padding: 20px;
	background-color: hsl(240, 20%, 90%);
	font-size: 1.5em;
	word-wrap: break-word;
}

ul {
	margin-left: 10px;
}

ul li {
	margin-left: 10px;
}
