<!DOCTYPE html>
<html>

<head>
	<title>My First Service Recipe</title>
	<link rel="stylesheet" href="../15_value/style.css">
</head>

<body ng-app="myApp" ng-controller="MyController as my_ctrl">
	<h1>My First Service Recipe</h1>
	<panel>
		<label>Enter a login : <br>
		<input type="text" ng-model="login" /></label>
		<label>Enter a password : <br>
		<input type="password" ng-model="password" /></label>
		<br>
		<code>
			PasswordHash = {{passwordHash}}
			<br>
			Algo = {{hash.name}}
		</code>
	</panel>

	<script src="../../node_modules/jshashes/hashes.min.js"></script>
	<script src="../../node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>

</html>
