<!DOCTYPE html>
<html ng-app="mainApp" ng-controller="MainCtrl">
	<head>
		<title>$http test</title>
		<link rel="stylesheet" href="../../../node_modules/angular/angular-csp.css">
	</head>

	<body>
		<h1>My First interceptor</h1>
		<span us-spinner spinner-key="spinner-1"></span>
		<select ng-model="file">
			<option value="content.json">content.json</option>
			<option value="error.json">error.json</option>
			<option value="notfound.json">notfound.json</option>
		</select><br/>
		<button ng-click="click(file)">get file</button><button ng-click="reset()">reset</button><br/>
		{{content}}<br/>

		<script src="../../../node_modules/angular/angular.js"></script>
		<script src="../../../node_modules/spin.js/spin.js"></script>
		<script src="../../../node_modules/angular-spinner/dist/angular-spinner.js"></script>
		<script src="app.js"></script>
	</body>
</html>