* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	padding: 10px;
}

.noscroll {
	position:fixed;
	overflow-y: noscroll;
}

.desktop views {
	display: table;
	table-layout: fixed;
	width: 700px;
	margin: 100px auto;
	border: 1px solid black;
	padding: 10px;
}

.desktop general-view, .desktop local-view {
	display: table-cell;
	border: 1px solid black;
	padding: 10px;
}