@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
}

body {
	display: block;
	margin: 0px auto;
	width: 800px;
	max-width: 100%;
	padding: 20px;
}

h1 {
	text-align: center;
}

input {
	width: 400px;
}

email {
	font-size: 2em;
	color: blue;
	
}

@keyframes fadein {
	0%   {opacity: 0; }
	100% {opacity: 1; }
}

label {
	opacity: 0;
	animation: fadein 1s ease-in 1s forwards;
}

message {
	display: block;
	margin-top: 2em;
	opacity: 0;
	animation: fadein 1s ease-in 2s forwards;
}

h2, ul {
	opacity: 0;
	animation: fadein 1s ease-in 3s forwards;
}

