<!DOCTYPE html>
<html>
	<head>
		<title>My First http decorator</title>
	</head>

	<body ng-app="mainApp" ng-controller="MainCtrl">
		<button ng-click="click('https://api.ipify.org?format=json')">What is my IP ?</button>
		<button ng-click="click('http://nominatim.openstreetmap.org/search?format=json&q=Torcy')">What about Torcy ?</button>
		{{content}}


		<script src="../../../node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="fakeHttp.js"></script>
	</body>
</html>