<!DOCTYPE html>
<html>
	<head>
		<title>My First http decorator</title>
	</head>

	<body ng-app="mainApp" ng-controller="MainCtrl">
		<button ng-click="click('http://bot.whatismyipaddress.com/')">Click me</button>
		<button ng-click="click('http://google.com/')">Click google</button>
		{{content}}


		<script src="../../../bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<script type="text/javascript" src="fakeHttp.js"></script>
	</body>
</html>