@import url('https://fonts.googleapis.com/css?family=Vibur');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

site-id {
    display: inline-block;
	margin: 5px;
	padding: 10px;
}

site-id * {
	font-family: 'Vibur', cursive;
	font-size: 3em;
	font-weight: bold;
}

red {
    padding: 10px;
	color: red;
}

green {
    padding: 10px;
	color: green;
	font-size: 5em;
}

blue {
    padding: 10px;
	color: blue;
}


cover {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 720px;
	background-image: url("https://cdn.pixabay.com/photo/2017/05/19/15/16/countryside-2326787_960_720.jpg");
}
