@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html, body {
	min-width: 780px;
}

header {
	display: block;
	height: 100px;
}

site-id {
    display: inline-block;
	margin: 5px;
	padding: 10px;
}

site-id * {
	font-family: 'Lobster', cursive;
	font-size: 1.5em;
	font-weight: bold;
}

red {
    padding: 10px;
	color: red;
	font-size: 2.5em;
}

gray {
    padding: 10px;
	color: hsl(0, 0%, 90%)
}

blue {
    padding: 10px;
	color: blue;
}

menu {
	display: block;
	float: right;
	padding: 30px 30px;
}

menu item {
	display: inline-block;
	padding: 0px 5px;
}

menu item a {
	display: block;
	padding: 15px;
	background-color: hsl(0, 100%, 95%);
}

cover {
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 300px;
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/MontBlanc2c.jpg/1280px-MontBlanc2c.jpg");
	
}

footer {
	display: block;
	width: 100%;
	height: 40px;
	padding: 10px;
	text-align: center;
	color: hsl(0, 0%, 70%);
}
