<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Mon formulaire</title>
		<style>
input.error {
	background-color: red;
}
		</style>
	</head>

	<body >
		<div ng-app="mainApp" ng-controller="MainCtrl">
			<form name="myForm" ng-submit="doSomething()" novalidate>
				Nom :
				<input required ng-class="{error: isError(myForm.name)}" type="text" name="name" ng-model="obj.name" ng-model-options="options" />
				<span ng-show="isError(myForm.name)">
					<span ng-show="myForm.name.$error.required">Le nom ne doit pas être vide !</span>
				</span><br/>
				Prénom :
				<input required firstname ng-class="{error:isError(myForm.firstname)}" type="text" name="firstname" ng-model="obj.firstname" ng-model-options="options" />
				<span ng-show="isError(myForm.firstname)">
					<span ng-show="myForm.firstname.$error.required">Le prénom ne doit pas être vide !</span>
					<span ng-show="myForm.firstname.$error.firstname">Le prénom doit être Juan, Yannis ou Jean-Louis !</span>
				</span><br/>
				Age :
				<input restrict-keyboard integer required ng-class="{error: isError(myForm.age)}" type="text" name="age"  ng-model="obj.age" />
				<span ng-show="isError(myForm.age)">
					<span ng-show="myForm.age.$error.required">L'âge ne doit pas être vide !</span>
					<span ng-show="myForm.age.$error.number">L'âge doit être un nombre !</span>
					<span ng-show="myForm.age.$error.integer">L'âge doit être un entier !</span>
				</span><br/>
				age = {{ obj.age }}<br/>
				Email :
				<input required ng-class="{error: isError(myForm.email)}" type="email" name="email"  ng-model="obj.email" ng-model-options="options" />
				<span ng-show="isError(myForm.email)">
					<span ng-show="myForm.email.$error.required">L'email ne doit pas être vide !</span>
					<span ng-show="myForm.email.$error.email">L'email doit être valide !</span>
				</span><br/>
				Mot de passe :
				<input required ng-class="{error: isError(myForm.password)}" type="password" name="password"  ng-model="obj.password" ng-model-options="options" />
				<span ng-show="isError(myForm.password)">
					<span ng-show="myForm.password.$error.required">Le mot de passe ne doit pas être vide !</span>
				</span><br/>
				Entier a :
				<input required integer ng-class="{error: isError(myForm.a)}" type="text" name="a"  ng-model="obj.a" ng-model-options="options" value="123" />
				<span ng-show="isError(myForm.a)">
					<span ng-show="myForm.a.$error.required">a ne doit pas être vide !</span>
					<span ng-show="myForm.a.$error.integer">a doit être un entier !</span>
				</span><br/>
				Entier b :
				<input required integer ng-class="{error: isError(myForm.b)}" type="text" name="b"  ng-model="obj.b" ng-model-options="options" />
				<span ng-show="isError(myForm.b)">
					<span ng-show="myForm.b.$error.required">b ne doit pas être vide !</span>
					<span ng-show="myForm.b.$error.integer">b doit être un entier !</span>
				</span><br/>
				Entier c (doit être la somme de a et b) :
				<input ui-validate-watch=" '[obj.a, obj.b]' " ui-validate=" {sum: 'sum($value, obj.a, obj.b)' } " required integer ng-class="{error: isError(myForm.c)}" type="text" name="c"  ng-model="obj.c" ng-model-options="options" />
				<span ng-show="isError(myForm.c)">
					<span ng-show="myForm.c.$error.required">c ne doit pas être vide !</span>
					<span ng-show="myForm.c.$error.integer">c doit être un entier !</span>
					<span ng-show="myForm.c.$error.sum">c doit être la somme de a et b !</span>
				</span><br/>

				<input type="submit" ng-disabled="myForm.$invalid" value="Valider" />
			</form>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>
