<!DOCTYPE html>
<html>
	<head>
		<title>My First Controller</title>
		<link rel="stylesheet" href="../../node_modules/angular/angular-csp.css" />
	</head>
	<style>
form .ng-dirty.ng-valid {
	background-color: hsla(120, 100%, 95%, 1);
}

form .ng-dirty.ng-invalid {
	background-color: hsla(0, 100%, 95%, 1);
}

form .ng-pristine {
	background-color: hsla(60, 100%, 95%, 1);
}
	</style>
	<body ng-app="mainApp" >
		<div ng-controller="MainCtrl as ctrl">
			<form name="myForm" ng-submit="ctrl.add(); myForm.$setPristine()" autocomplete="off" novalidate>
				<fieldset>
					Select your note :
					<select ng-model="ctrl.object.select"
						ng-options="rate for rate in [5, 4, 3, 2, 1]"
						required>
						<option value="">Rate</option>
					</select><br />
					Email : <input type="email" ng-model="ctrl.object.email" required/><br/>
					Your comment :<br/>
					<textarea ng-model="ctrl.object.text" rows="5" required></textarea><br/>

					<input type="submit" value="Post" ng-disabled="myForm.$invalid"/>
				</fieldset>
			</form>
			<div ng-cloak ng-repeat="object in ctrl.list">
				<ul>
					<li>Rate: {{object.select}}</li>
					<li>Email: {{object.email}}</li>
					<li>Text: {{object.text}}</li>
				</ul>
			</div>
		</div>
		<script src="../../node_modules/angular/angular.min.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>