<!DOCTYPE html>
<html>

<head>
	<title>My First Controller</title>
	<link rel="stylesheet" href="../../node_modules/angular/angular-csp.css" />
	<link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css" />
	<link rel="stylesheet" href="style.css" />
</head>

<body ng-cloak ng-app="mainApp">
	<h1>Mon Premier formulaire</h1>
	<div ng-controller="MainCtrl as ctrl">
		<form name="myForm" ng-submit="ctrl.add(); myForm.$setPristine()">
			<fieldset>

				<select name="mySelect" ng-model="ctrl.object.select" ng-options="rate for rate in [5, 4, 3, 2, 1]" required>
					<option value="">Select your note</option>
				</select><i ng-show="myForm.mySelect.$valid" class="fa fa-check" aria-hidden="true"></i>
				<br> <label for="email">Email : </label><br><input type="email" name="email" id="email" ng-model="ctrl.object.email" required/><br/> Your comment :<br/>
				<textarea ng-model="ctrl.object.text" rows="5" required></textarea><br/>

				<input type="submit" value="Post" ng-disabled="myForm.$invalid" />
			</fieldset>
		</form>
		<button ng-click="ctrl.deleteAll()">Delete All</button>
		<div ng-repeat="object in ctrl.comments track by $index">
			<ul>
				<li>Rate: {{object.select}}</li>
				<li>Email: {{object.email}}</li>
				<li>Text: {{object.text}}</li>
			</ul>
		</div>
	</div>
	<script src="../../node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>

</html>
