@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}

body {
	padding: 20px;
}

form .ng-dirty.ng-valid {
	border-color: hsl(120, 100%, 20%);
	box-shadow: 2px 2px 6px hsl(0, 0%, 60%);
}

form .ng-dirty.ng-invalid {
	background-color: hsl(0, 100%, 95%);
	border-color: hsl(0, 100%, 50%);
	box-shadow: 2px 2px 6px hsl(0, 0%, 60%);
}

form .ng-pristine {
	border-color: black;
	box-shadow: 2px 2px 6px hsl(0, 0%, 60%);
}

fieldset {
    padding: 10px;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 6px hsl(0, 0%, 60%);
}

label {
    display: inline-block;
    margin-top: 15px;
    padding-left: 10px;
}

[ng-model] {
	display: inline-block;
	width: 300px;
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 3px;
	resize: none;
	font-size: 1.1em;
}

.fa.fa-check {
	margin: 20px 8px;
	vertical-align: top;
	color: hsl(120, 100%, 20%);
	font-size: 1.3em;
}
