<!DOCTYPE html>
<html>

<head>
	<title>My First websocket use</title>
	<link rel="stylesheet" href="../../node_modules/angular/angular-csp.css" />
	<link rel="stylesheet" href="wpk/28_websocket.css">
</head>

<body ng-cloak ng-csp ng-app="myApp" ng-controller="MyController as $ctrl">
	<h1>My First websocket use</h1>
	<p>Note: install webpack globally and run it to see the compiled file.</p>
	<panel><button class="primary" ng-click="$ctrl.createDialogBox.open()"><i class="fa fa-plus" aria-hidden="true"></i> New Ticket</button></panel>
	<fieldset>

		<button jlg-click-and-disable="$ctrl.query()"><i class="fa fa-refresh" aria-hidden="true"></i></button>&nbsp;<button class="danger" jlg-click-and-disable="$ctrl.empty()"><i class="fa fa-trash" aria-hidden="true"></i> Delete All</button>
		<span>
			filtre: <input type="text" ng-model="$ctrl.filter">
		</span>
		<br/>

		<table>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>New name</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
			<tr ng-repeat="ticket in $ctrl.tickets | filter:$ctrl.filter track by $index">
				<td>{{ticket.id}}</td>
				<td>{{ticket.name}}</td>
				<td><input type="text" ng-model="ticket.newName" /></td>
				<td><button ng-disabled="!ticket.newName" jlg-click-and-disable="$ctrl.update(ticket)"><i class="fa fa-pencil" aria-hidden="true"></i></button></td>
				<td><button jlg-click-and-disable="$ctrl.delete(ticket)"><i class="fa fa-minus" aria-hidden="true"></i></button></td>
			</tr>
		</table>
	</fieldset>

	<dialog-box id="createDialogBox">
		<form name="form" ng-submit="$ctrl.doClick('#createTicketButton')">
			<label>New Ticket name: <input name="name" type="text" placeholder="Ex: John" ng-model="$ctrl.newTicket.name" autofocus/></label>
			<button id="createTicketButton" class="primary" ng-disabled="!$ctrl.newTicket.name" jlg-click-and-disable="$ctrl.createAndClose()">Create</button>
			<button ng-click="$ctrl.createDialogBox.close()">Cancel</button>
		</form>

	</dialog-box>
	
	<script src="wpk/28_websocket.js"></script>

</body>

</html>
