<!DOCTYPE html>
<html>

<head>
	<title>My First websocket use</title>
	<link rel="stylesheet" href="../../node_modules/angular/angular-csp.css" />
	<link rel="stylesheet" href="wpk/28_websocket.css">
</head>

<body ng-cloak ng-csp ng-app="myApp" ng-controller="MyController as $ctrl">
	<h1>My First $resource use</h1>
	<p>Note: install webpack globally and run it to see the compiled file.</p>
	<panel><button class="primary" ng-click="$ctrl.createDialogBox.open()">New Ticket</button></panel>
	<dialog-box id="createDialogBox">
		<label>New Ticket name: <input name="name" type="text" placeholder="Ex: John" ng-model="$ctrl.newTicket.name"/></label>
		<button class="primary" ng-disabled="!$ctrl.newTicket.name" jlg-click-and-disable="$ctrl.create(); $ctrl.createDialogBox.close()">Create</button>
		<button jlg-click-and-disable="$ctrl.create(); $ctrl.createDialogBox.close()">Cancel</button>
	</dialog-box>
	<fieldset>

		<button jlg-click-and-disable="$ctrl.query()">Rafraichir la liste des tickets</button>&nbsp;<button jlg-click-and-disable="$ctrl.empty()">Delete All</button><br/>

		<table>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>New name</th>
				<th>Update</th>
				<th>Delete</th>
			</tr>
			<tr ng-repeat="ticket in $ctrl.tickets track by $index">
				<td>{{ticket.id}}</td>
				<td>{{ticket.name}}</td>
				<td><input type="text" ng-model="ticket.newName" /></td>
				<td><button jlg-click-and-disable="$ctrl.update(ticket)">Update</button></td>
				<td><button jlg-click-and-disable="$ctrl.delete(ticket)">Delete</button></td>
			</tr>
		</table>
	</fieldset>

	<fieldset ng-init="id = 2">
		<input type="number" ng-model="id" /><br/>
		<button jlg-click-and-disable="$ctrl.retrieve(id)">Retrieve the ticket</button><br/>
		<br/>
		<div ng-cloak>Retrieve Ticket: {{$ctrl.ticket}}</div>
	</fieldset>
	<script src="wpk/28_websocket.js"></script>

</body>

</html>
