@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Roboto Slab', serif;
	box-sizing: border-box;
}

h1 {
	padding: 20px;
	background: linear-gradient(45deg, hsl(240, 100%, 80%), hsl(180, 100%, 80%), hsl(240, 100%, 80%));
	text-align: center;
}

p {
	padding: 20px;
}

fieldset {
	display: block;
	margin: 20px 20px;
	border: none;
	background-color: hsl(0, 0%, 98%);
}

panel {
	display: block;
	margin: 5px 20px;
	border: 1px solid hsl(0, 0%, 90%);
}

button,
input,
label {
	height: 30px;
	margin: 5px 5px;
}

button {
	padding: 0px 10px;
	background-color: hsl(0, 0%, 90%);
	border: 1px solid hsl(0, 0%, 80%);
	&:hover {
		box-shadow: 0px 0px 10px hsl(0, 0%, 80%);
	}
	&:active {
		background-color: hsl(0, 0%, 80%);
	}
	&:disabled {
		opacity: 0.3;
	}
	&.primary {
		background-color: hsl(240, 100%, 30%);
		color: white;
	}
}

input {
	padding: 0px 5px;
	border: 1px solid black;
	outline: none;
}

#createDialogBox {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
	border: 8000px solid hsla(0, 0%, 10%, 0.8);
	background-color: white;
	background-clip: padding-box;
}
